<div id="form_container">
    <form id="form_58271" class="appnitro"  method="post" action="home">
        <div class="form_description">
            <h2>connexion</h2>

        </div>
        <ul >

            <li id="li_1" >
                <label class="description" for="login">Login: </label>
                <div>
                    <input id="login" name="login" class="element text medium" type="text" maxlength="255" value="" required/>
                </div>
            </li>		<li id="li_2" >
            <label class="description" for="pwd">Mot de passe: </label>
            <div>
                <input id="pwd" name="pwd" class="element text medium" type="text" maxlength="255" value="" required/>
            </div>
        </li>

            <li class="buttons">
                <input type="hidden" name="form_id" value="58271" />

                <input id="saveForm" class="button_text" type="submit" name="submit" value="Valider" />
            </li>
        </ul>
    </form>
</div>
